body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.header {
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
}
        
.header-logo {
    display: flex;
    align-items: center;
}

.logo-top {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
    color: #4d5ae5;
    padding: 24px 0;
}

.logo-black {
    color: #2e2f42;
}

.logo-white {
    color: #f4f4fd;
}

.header-nav {
    display: flex;
    gap: 40px;
}

.header-link{
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    display: block;
    text-decoration: none;
    padding: 24px 0;
    color: #2e2f42;
}

.header-link:hover,
.header-link:focus{
    color: #404bbf;
}

.header-link:active {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

.header-address {
    font-style: normal;
    margin-left: auto;
    display: block;
}

.header-address-link {
    display: flex;
    gap: 40px;
}

.address-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;    
    color: #434455;
}

.address-link:hover,
.address-link:focus{
    color: #404bbf;
}

.main-button-area{
    padding: 188px 0;
    background-color: #2e2f42;
    text-align: center;
}

.main-heading{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    color: #ffffff;
}

.main-button {
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;   
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #4d5ae5;
    margin: 0 auto;
    padding: 16px 32px;
}

.main-button:hover,
.main-button:focus {
    background-color: #404bbf;
}

.studio {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.studio-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    background-color: #ffffff;
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.studio-list-line{
    flex-basis: calc((100% - 72px) / 4);
}

.studio-head {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
}

.studio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team {
    padding: 120px 0;
    background-color: #F4F4FD;
}

.our-team-title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    line-height: 1.11;
    margin-bottom: 72px;
    color: #2e2f42;
}

.our-team-all-list{
    display: flex;
    gap: 24px;
}

.our-team-list {
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    background-color: #ffffff;
}

.team-name-and-desc{
    padding: 32px 0;    
}

.team-names{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    color: #2e2f42;
}

.team-desc{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.portfolio {
    padding: 120px 0;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-name-and-desc {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-names{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-desc{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer{
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer-container {
    gap: 16px;
}

.logo-bottom {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
    color: #4d5ae5;
}

.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
